.travel {
  background-color: $color-smoke;
  .wrapper {
    padding: 105px 200px 95px 200px;
  }
}

.travel__upper {
  display: flex;
  gap: 16px;
  margin-bottom: 18px;

  .upper__card {
    background-color: $color-white;
    border-radius: 10px;
  }

  .upper__card-main{
    width: 505px;
  }

  .card__heigthblock {
    width: 245px;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .travel__subtitle {
    font-family: "Roboto";
    font-size: 25px;
    color: $color-gray;
    margin: 10px 0 10px 20px;
  }

  .upper__desctription {
    font-family: "Roboto";
    font-size: 18px;
    color: $color-gray;
    margin-bottom: 69px;
    margin-left: 20px;
  }

  .upper__description {
    margin: 9px 0 9px 20px;
    font-family: "Roboto";
    font-size: 18px;
    color: $color-gray;
  }
}


.travel__midl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .midl__card {
    background-color: $color-white;
    border-radius: 10px;
  }

  .card__description {
    font-family: "Roboto";
    font-size: 17px;
    color: $color-gray;
    margin: 10px 0 10px 20px;
  }

  .card__date {
    font-family: "Roboto";
    font-size: 11px;
    color: $color-gray;
  }
}

.visit {
  font-family: "Poppins";
  font-size: 12px;
  color: $color-gray-dark;
  margin: 20px 0 3px 20px;
}

.card__date {
  margin-left: 20px;
  margin-bottom: 30px;
}

.travel__down {
  display: flex;
  justify-content: space-between;

  .down__card {
    border-radius: 10px;
    width: 245px;
    background-color: $color-white;
  }

  .card__description {
    margin-left: 20px;
    margin-bottom: 7px;
    font-family: "Roboto";
    font-size: 18px;
    color: $color-gray;
  }

  .card__description-first {
    margin-bottom: 30px;
  }

  .card__date {
    font-family: "Roboto";
    font-size: 11px;
    color: $color-gray;
  }
}