.header__navigation {
  width: 220px;
  padding: 20px 0;

  ul {
    display: flex;
    justify-content: space-between;
  }

  .navigation__list {
    list-style-type: none;

    .navigation__link {
      text-decoration: none;
      color: $color-gray-dark;
      font-family: Roboto;
      font-size: 14px;
      transition: 0.3s ease-in;
    }*:hover {
      color: $color-goldenrode;
    }
  }
}

.footer__navigation {
  width: 335px;

  ul {
    display: flex;
    justify-content: space-between;
  }

  .navigation__list-footer {
    list-style-type: none;
  }
  .nav__link-footer {
    text-decoration: none;
    color: $color-gray-dark;
    transition: 0.3s ease-in;
  }:hover {
    color: $color-goldenrode;
  }

}